@{
    ViewBag.Title = "Login";
    ViewBag.BodyClass = "login-home";
    Layout = "~/Views/Account/Shared/_LayoutLogin.cshtml";
}
<form id="login-form" action="/Account/Login" method="post" class="">
    @Html.AntiForgeryToken()
    <div class="inner-form col-sm-12">
        <div class="card-block">
            <div class="text-center">
                <h3><i class="fa fa-lock"></i> Login:</h3>
                <hr class="mt-2 mb-2">
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="Email" name="Email" class="form-control">
                <label for="Email">Your email</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="Password" name="Password" class="form-control">
                <label for="Password">Your password</label>
            </div>
            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
        <div class="modal-footer">
            <div class="options">
                <p>Not a user? <a href="#">Sign Up</a></p>
                <p>Forgot your <a href="#">Password?</a></p>
            </div>
        </div>
    </div>
</form>