@model Talento.Models.CandidateModel
@{
    ViewBag.Title = "AppSettings";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            About Us
            @if (User.Identity.Name == "")
            {
                <button style="float:right;" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" onclick="goBack()">Go Back</button>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            }
            <small>It's Nice to Meet You!</small>
        </h1>
        <p>
            We are a group of fresh TCSers that joined the company at the beginning of 2017 as junior IT Consultants. With the help of Arturo Velarde Rojas playing the role of Product Owner we were able to create this internal project following the SCRUM methodology with Ramon Arana as our Scrum Master. Arturo also helped as a techincal leader and we were pleased to have his backup in .Net technologies because it was for great help to build Talento!
            We hope Talento grows strong and healthy. But we need your help for this! That is why any comment, useful feature, or missing feature you may find will be of great help for us to continue this project.
            So in any case do not doubt in communicating with us!
            Here is some information about ourselves:
        </p>
        <br/>
    </div>
</div>


<!-- Page Content -->
<div class="container" id="profiles" style="width:100%">

    <!-- Introduction Row -->

    <!-- Team Members Row -->
    @*<div class="row" id="profiles">
        </div>*@

    <hr>
</div>

@if (User.Identity.Name == "")
            {
    <button style="float:right;" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" onclick="goBack()">Go Back</button>
    <br />
    <br />
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}

<script type="text/javascript">
    window.onload = function () {
        (function ($) {

            //add as many profiles as needed to the profileList array to list them
            var profileList = [
                {
                    name: "Arturo Velarde Rojas",
                    employeeId: "805634",
                    tcsEmail: "arturo.velarde@tcs.com",
                    description: "IT Guy interested on software engineering, technology and photography",
                    interests: "Software Development, Photography",
                    hobbies: "Woodworking and Bricolage",
                    image: "805634.png"
                },
                {
                    name: "Pablo Carmona",
                    employeeId: "1377771",
                    tcsEmail: "pablo.carmona@tcs.com",
                    description: "I am a very nice and friendly person. I enjoy contributing new ideas. I am self motivated and a very good team player.My hobbies are playing the guitar, practice sports and listening music",
                    interests: "",
                    hobbies: "My hobbies are playing the guitar, practice sports and listening music",
                    image: "1377771.jpg"
                },
                {
                    name: "Martin Mato",
                    employeeId: "1377754",
                    tcsEmail: "martin.mato@tcs.com",
                    description: "TCS associate since 2012, Martin is very communicative person and friendly",
                    interests: "Sci-Fi and Fantasy books, Music, Movies, VideoGames, technology",
                    hobbies: "Studying new technologies to improve his knowdlege, reading Sci-Fi books, movies, videogames and spend time with family and friends",
                    image: "1377754.jpg"
                },
                {
                    name: "Fabián Gargaglione",
                    employeeId: "1377751",
                    tcsEmail: "arturo.velarde@tcs.com",
                    description: "I have joined TCS on January 2017 as a Junior Developer looking for new challenges to enhance my skills as a Developer",
                    interests: "Software Development, Popular Science, Domotics, Science Fiction, Philosophy, Travel, Other Cultures",
                    hobbies: "Skate, some Sports, Gaming, OS projects",
                    image: "1377751.jpg"
                },
                {
                    name: "Carlos Hackenbruch Siri",
                    employeeId: "1377750",
                    tcsEmail: "carlos.siri@tcs.com",
                    description: "I entered Tata in January of 2017 and work as a junior developer aspiring to achieve Seniority and become a faculty and trainer in Microsoft .Net technologies",
                    interests: "Software Development, Leadership, Philosophy, Epistemology, Science, Math, Physics, Quantum computing",
                    hobbies: "PC Gaming, Swimming, Science Teaching",
                    image: "1377750.png"
                },
                {
                    name: "Darío Prolo Loza",
                    employeeId: "1359388",
                    tcsEmail: "d.prololoza@tcs.com",
                    description: "",
                    interests: "Soccer, Music",
                    hobbies: "I like playing guitar",
                    image: "alien1.png"
                },
                {
                    name: "Ramón Arana",
                    employeeId: "1387239",
                    tcsEmail: "arana.ramon@tcs.com",
                    description: "Technology fan, music lover",
                    interests: "Self-sustaining housing, music, spirituality",
                    hobbies: "Djing, outdoors activities",
                    image: "1387239.jpg"
                },
                {
                    name: "Federico Testoni",
                    employeeId: "1377753",
                    tcsEmail: "federico.testoni@tcs.com",
                    description: "I am a Programmer and Web Designer, willing to grow and be part of diverse projects",
                    interests: "Software Development, Music, Movies, and Sports",
                    hobbies: "Playing Guitar, Bass and hanging out with friends.",
                    image: "1377753.png"
                }];

            function getRandomItemInArray(arr) {
                var itemIndex = Math.floor(Math.random() * arr.length);
                var itemValue = arr[itemIndex];
                return itemValue;
            }

            function listProfiles() {
                var profilesStr = '';
                var i = 0;
                profilesStr += "<div class='row' id='profile_row_" + i + "'>";
                var listLengthFixed = profileList.length - 1;

                while (profileList.length > 0) {
                    var randomProfile = getRandomItemInArray(profileList);
                    var index = profileList.findIndex(x => x.employeeId == randomProfile.employeeId);

                    //list 4 profiles per row
                    if (i % 4 == 0 && i != 0) {
                        profilesStr += "</div>";
                        profilesStr += "<div class='row' id='profile_row_" + i + "'>";
                    }

                    profilesStr +=
                        "<div class='col-lg-3 col-sm-6 text-center'>" +
                        "<img class='img-circle img-responsive img-center' src='/Content/Images/" + randomProfile.image + "' alt='Profile image' style='width: 50%;'>" +
                        "<h3>" +
                        "<b>" + randomProfile.name + "</b>" +
                        "<br />" +
                        "<span>" + randomProfile.employeeId + "</span>" +
                        "<br />" +
                        "<span>" + randomProfile.tcsEmail + "</span>" +
                        "</h3>" +
                        "<b>Description</b>" +
                        "<br />" +
                        "<p>" + randomProfile.description + "</p>" +
                        "<br />" +
                        "<b>Interests</b>" +
                        "<br />" +
                        "<p>" + randomProfile.interests + "</p>" +
                        "<br />" +
                        "<b>Hobbies</b>" +
                        "<br />" +
                        "<p>" + randomProfile.hobbies + "</p>" +
                        "<br />" +
                        "</div>"

                    //remove element from array
                    profileList.splice(index, 1);
                    i++;
                }
                profilesStr += "</div>";
                return profilesStr;
            }

            $("#profiles").empty();
            $("#profiles").append(listProfiles());
        }(jQuery));
    }
</script>