.login-home{
    height:100vh;
}
#login-page {
    max-width:100%;
    height:100%;    
    .info-section {
        color:#FFF;
        background-color:$color-9;
        height:100%;
        .info-header {
            background-color: $color-10;
            padding: 10px 10px 15px 10px;
        }

    }
    .login-container {
         height:100%;
    }
}