<!-- Main Container -->
<div class="pmd-content pmd-content-custom dropdown-component" id="content" style="padding:0;margin-left:-20px;">
    <br />
    <div class="container-fluid">

        <!-- Widgets -->
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Widgets/Tables/BasicTable.cshtml")
            </div>
        </div>
    </div>
</div>


