<!-- Main Container -->
<div class="pmd-content pmd-content-custom dropdown-component" id="content" style="padding:0;margin-left:-20px;">

    <div class="container-fluid">

        <!-- Widgets -->
        <div class="row">
            <div class="col-sm-4" style="">
               <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        
                    </div>

                    <div class="pmd-card-title">
                        <h3 class="pmd-card-title-text">Howdy Basic!</h3>
                        <span class="pmd-card-subtitle-text">You'r Normal</span>
                    </div>

                    <div class="pmd-card-body">
                        You'r awesomeness is Normal Sir, you have the rights to do certain things.
                    </div>

                    <div class="pmd-card-actions">
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons">local_cafe</i></button>
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Randomness</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                @Html.Partial("~/Views/Widgets/Accordion.cshtml")
            </div>     
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Widgets/Tables/BasicTable.cshtml")
            </div>
        </div>
    </div>
</div>


