<!-- Main Container -->
<div class="pmd-content pmd-content-custom dropdown-component" id="content">

    <div class="container-fluid">

        <!-- Widgets -->
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Widgets/Tables/AdminTable.cshtml")
            </div>
        </div>
    </div>
</div>
