<div class="pmd-card pmd-z-depth">
    <div class="table-responsive">
        <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td></td>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>User type</th>
                    <th>Date Joined</th>
                    <th>Last Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Fede</td>
                    <td>Fede@tcs.com</td>
                    <td>Admin</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Martin</td>
                    <td>Martin@tcs.com</td>
                    <td>Admin</td>
                    <td>2017/01/22</td>
                    <td>2017/03/20 at 8am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Charlie</td>
                    <td>Charlie@tcs.com</td>
                    <td>Admin</td>
                    <td>2017/02/25</td>
                    <td>2017/03/11 at 11am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Pablo</td>
                    <td>Pablo@tcs.com</td>
                    <td>Admin</td>
                    <td>2017/01/12</td>
                    <td>2017/03/20 at 1am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User</td>
                    <td>User@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User2</td>
                    <td>User2@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User3</td>
                    <td>User3@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User4</td>
                    <td>User4@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User5</td>
                    <td>User5@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User6</td>
                    <td>User6@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User7</td>
                    <td>User7@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User8</td>
                    <td>User8@tcs.com</td>
                    <td>PM</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User9</td>
                    <td>User9@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User10</td>
                    <td>User10@tcs.com</td>
                    <td>PM</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
                <tr>
                    <td></td>
                    <td>User11</td>
                    <td>User11@tcs.com</td>
                    <td>TL</td>
                    <td>2017/01/25</td>
                    <td>2017/03/22 at 9am</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
