@{
    ViewBag.BodyClass = "dashboard-home";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
@* Header *@
@Html.Action("TopNavigation", "Dashboard")

@* Sidebar Navigation *@
@Html.Action("SideNavigation", "Dashboard")

<!-- Main Container -->
<div class="pmd-content pmd-content-custom dropdown-component" id="content">
    <div class="container-fluid">
        <div class="row">
            @* Render Content *@
            @RenderBody()
        </div>
    </div>
</div>