<div class="pull-right">
    <form method="get" action="/Dashboard/DownloadTiffTemplate">
        <input type="submit" class="btn pmd-ripple-effect btn-primary" value="Download TIFF" style="margin-top: 4px" />
    </form>
</div>
