<div class="pull-right">
    <div class="pull-left">
        <a href="@Url.Action("DownloadTiffTemplate", "Dashboard")" alt="Download TIFF Template">
            <i class="material-icons md-24 pull-left">file_download</i><span class="pull-left">Download TIFF Template</span>
        </a>
    </div>
</div>
