
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div id="login-page" class="container-fluid">
    <div class="col-md-8 col-sm-6 info-section">
        <div class="row info-header">
            <img src="https://webmail.tcs.com/domcfg.nsf/b6525b687f8a0deb65257cf00021db98/$Body/0.692E?OpenElement&amp;FieldElemFormat=gif" alt="TCS">
        </div>
        <div class="">
            <div class="text-center">
                <h1>Open Position Tool</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor tempor justo, ut cursus nisi iaculis tincidunt. Proin et odio vehicula, dictum arcu in, dignissim elit. Nullam sodales fermentum odio, at posuere arcu sagittis at. Etiam eget dui euismod, dignissim nulla ac, congue velit. Duis sit amet sagittis erat. Etiam sit amet tristique nulla. Vivamus bibendum porta metus sit amet tincidunt. Etiam bibendum sodales sapien, eu accumsan ipsum euismod sed. Vivamus felis odio, ultricies pharetra mattis non, facilisis et lacus. Mauris lobortis, tortor ut sollicitudin fringilla, turpis felis consectetur purus, in sodales ligula libero id ante. Etiam laoreet sollicitudin nibh. Duis ullamcorper sem ut sapien lobortis vestibulum.
                </p>
                <p>
                    Praesent ultricies aliquet dolor ut semper. Sed eu imperdiet leo, eu dignissim magna. Aenean massa nulla, tristique sit amet diam vel, finibus dignissim purus. Maecenas ac dui lobortis, tincidunt lorem ut, efficitur sem. Quisque a maximus neque. Pellentesque scelerisque sapien ac quam viverra blandit. In non consequat dolor, eu bibendum nulla. In rutrum elementum dolor id ullamcorper. Sed condimentum scelerisque augue, et rhoncus urna ultricies id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus id tortor elit. Morbi lectus magna, blandit non arcu vel, auctor sagittis sem. Mauris quis convallis ipsum. Nam sit amet orci id sem molestie tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris imperdiet tortor eu sem placerat, sed placerat nulla auctor.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 login-container">
        @RenderBody()
    </div>
</div>



