@using Talento.Entities
<div class="jumbotron">
    <div id="fileListDiv">       
    </div>
    <div>
        <label for="Files">
            <i class="material-icons">
                note_add
            </i>
        </label>
        <input class="" id="Files" name="Files" type="file" value="" accept=".doc,.docx,.zip,.pdf" style="cursor:pointer" />
    </div>
</div>
