@using Talento.Entities
<div class="jumbotron">
    <div id="fileListDiv">       
    </div>
    <div>
        <label for="Files">
            <i class="material-icons" style="cursor:pointer">
                note_add
            </i>
        </label>
        <input class="hide" id="Files" name="Files" type="file" value="" accept=".doc,.docx,.zip,.pdf"  />
    </div>
</div>
